@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+NZ+Guides&family=Poppins:wght@300&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anybody", serif;
}

body {
    background-color: #edf2fa;
}

.container {
    max-width: 1200px;
    margin-inline: auto;
}

h1 {
   margin-inline: 50%;
   margin-block: 3rem;
}

.grid-blogs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}